@use "styles/colors.scss" as colors;
@use "styles/fonts.scss" as fonts;

.container {
    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 2em;

        @media (min-width: 750px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 0px;

            hr {
                margin: 0px 6% !important;
            }
        }

        margin: 8em auto;
        padding: 0px 3em;
        max-width: 1200px;

        h2 {
            @include fonts.h2();
            margin: 0px;
        }

        hr {
            margin: 0px;
        }

        .storiesListContainer {
            display: flex;
            flex-direction: column;
            gap: 4em;
        }
    }

    .footer {
        position: relative;
    }
}
