@import '../../constants/variables.scss';

.project-card-container {
  width: 660px;
  padding: 60px 84px 64px 78px;
  position: relative;

  color: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  @media only screen and (max-width: 775px) {
    margin: 0 30px 24px;
    padding: 48px 60px !important;

    .project-card-button-container {
      margin-bottom: 36px;
    }
  }

  .project-card-header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;

    .project-card-header-icon {
      margin: auto 27px auto 0;
      height: 44px;
      width: auto;
    }

    .project-card-header-text-container {
      h4 {
        margin-top: 0px;
        margin-bottom: calc(-0.05em - 1px);
      }

      p {
        margin-bottom: 0px;
      }
    }
  }

  p {
    margin-bottom: 25px;
  }

  .project-card-bottom-container {
    display: flex;
    flex-direction: row;
    position: absolute;

    right: 36px;
    bottom: 34px;

    .project-card-bottom-text {
      font-family: $open-sans;
      font-size: 12px;
      font-weight: 400;
    }

    .project-card-bottom-icon {
      height: 14px;
      margin-left: 18px;
    }
  }
}
