@use "styles/colors.scss" as colors;
@use "styles/fonts.scss" as fonts;

.container {
  position: relative;
  overflow: hidden;
  cursor: default;
  flex: 1;

  margin: 0px 0px 6px 6px;

  .textContainer {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 2;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
    background: radial-gradient(95.43% 95.43% at 50% 50%, rgba(0, 0, 0, 0) 53.91%, rgba(0, 0, 0, 0.4) 100%),
      rgba(34, 34, 34, 0.6);

    &:hover {
      opacity: 1;
    }

    &:hover + .imageContainer {
      .image {
        transform: scale(102%);
      }
    }

    .title {
      font-family: fonts.$poppins;
      font-size: 24px;
      font-weight: 300;
      color: colors.$white;

      margin: auto auto -5px;
      text-align: center;
    }

    .subtitle {
      font-family: fonts.$poppins;
      font-size: 18px;
      font-weight: 300;
      color: colors.$white;

      margin: 0 auto auto;
      text-align: center;
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;

    .image {
      transform: scale(100%);
      transition: transform 0.3s ease-in-out;
    }
  }
}
