@use "styles/colors.scss" as colors;

// Spacing variables

$main-screen-width: 72vw;
$main-screen-width-large: 87vw;
$screen-padding: calc((100vw - #{$main-screen-width}) / 2);
$screen-padding-small: calc((100vw - #{$main-screen-width-large}) / 2);

$text-list-margin: 18px;
$story-max-width: 900px;
$overview-max-width: 1200px;

$home-site-line-left: 6vw;

// Mixins

@mixin after($height: 2px) {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $height;

  transition: transform 0.4s cubic-bezier(0, 1, 0.6, 1);
  transition-delay: 0.1s;
}

@mixin responsivePadding($verticalPadding: 0px, $breakpoint: 600px) {
  padding: $verticalPadding $screen-padding;

  @media only screen and (max-width: $breakpoint) {
    padding: $verticalPadding $screen-padding-small;
  }
}

@mixin informationCard {
  background-color: colors.$lighter-dark;
  padding: 41px;
  border-radius: 4px;
}

@mixin siteLine {
  position: absolute;
  z-index: 999;
  width: 1px;
}
