@use "styles/colors.scss" as colors;
@use "styles/fonts.scss" as fonts;

.container {
  display: flex;
  flex-direction: column;
  gap: 4em;

  max-width: 54em;
  margin: 0px auto;
  padding: 0px 3em 3em;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  .logo {
    margin: 0px auto;
    width: clamp(12em, 100%, 18em);

    circle {
      box-shadow: colors.$default-shadow;
    }
  }

  .textContainer {
    margin: auto 0px;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      gap: 1.2em;

      @media (min-width: 700px) {
        flex-direction: row;
        gap: 2.4em;
      }
    }
  }
}
