@import '../../constants/variables.scss';

main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 calc((100vw - #{$main-screen-width}) / 2);

  #home-achievements {
    display: flex;
    flex-direction: row;
    position: relative;
    transform: translate(0, -50%);
    padding: 48px 72px;
    margin: 0 auto -100px;

    background: $white;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 4px;

    .home-achievement-container {
      display: flex;
      flex-direction: row;
      margin: 0 120px 0 0;
      
      &:last-child {
        margin: 0;
      }

      img {

      }

      .home-achievements-text-container {
        .h4 {
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .home-featured-project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 216px;

    img {
      object-fit: cover;
      position: relative;
      top: 0px;
      height: 100%;
      margin-bottom: 60px;

      &.left {
        margin-right: 144px;
        // padding-bottom: 60px;
      }

      &.right {
        margin-left: 144px;
        // padding-top: 60px;
      }
    }

    .home-featured-project-text-container {
      border-left: $dark 1px solid;
      padding-left: 45px;
      min-width: 600px;
      flex: 2;
      margin-bottom: 60px;

      h2 {
        margin: 0 0 -7px;
      }

      .h4 {
        margin: 0 0 24px;
      }

      p {
        font-size: 27px;
        margin-bottom: 36px;
      }
    }
  }

  .home-more-work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 180px auto 144px;

    p {
      margin: 0 auto 20px;
    }

    .home-more-work-arrow {
      margin: 0 auto;
    }
  }

  #home-skills {
    margin-bottom: -300px;

    #home-skills-skew {
      width: 100vw;
      height: 600px;

      position: relative;
      left: calc((100vw - #{$main-screen-width}) / 2 * -1);

      background-color: $dark;
      transform: skew(0deg, 5deg);
    }

    .home-skills-text-container {
      position: relative;
      top: -540px;
      color: $white;

      P {
        font-size: 24px;
      }
    }

    #home-skills-types-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      position: relative;
      top: -465px;

      .home-skills-type-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px 79px;
        margin: 0 24px 60px;
        max-width: 660px;
        
        background: $white;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.125);
        border-radius: 4px;

        .h4 {
          margin: 0 auto -9px;
        }
  
        h3 {
          margin: 0 auto 24px;
        }

        p {
          text-align: center;
          margin: 0 auto 0.55em;

          &.header {
            margin-bottom: 48px;
          }
        }

        .home-skills-list-column-container {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
  
        .home-skills-list-container {
          margin: 0 auto 48px;
        }

        h4 {
          margin: 0 auto 18px;
        }

        .home-skills-button {
          margin: 0 auto;
        }
      }
    }
  }

  #work-experience {
    position: relative;

    #work-experience-search {
      position: relative;
      left: calc((100vw - #{$main-screen-width}) / 2 * -1);
      width: 100vw;
      height: 569px;
  
      color: $white;
      background-size: cover;
      background-position: 50% 30%;
  
      h2 {
        position: absolute;
        left: calc((100vw - #{$main-screen-width}) / 2);
        bottom: -43px;
        z-index: 12;
      }
    }

    #home-work-search-container {
      display: flex;
      flex-direction: row;
      
      position: sticky;
      z-index: 10;
      top: 0;

      width: 100vw;
      padding: 58px calc((100vw - #{$main-screen-width}) / 2);
      margin-left: calc((100vw - #{$main-screen-width}) / 2 * -1);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      background: $dark;

      .home-work-separator {
        flex: 1;
        height: 1px;
        margin-top: auto;
        margin-bottom: auto;
        background: $white;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        p {
          color: $white;
          margin: auto 21px;

          &.active {
            font-weight: bold;
          }
        }
      }

      #home-search-input-container {
        display: flex;
        flex-direction: row;
        flex: 2;
        position: relative;

        input {
          border: none;
          background: none;
          width: auto;
  
          flex: 1;
          color: $white;
          margin: 0 18px;
          padding: 7px 42px 7px 8px;
          border-bottom: 1px solid $white;
  
          ::placeholder {
            color: #CCCCCC;
          }
  
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #CCCCCC;
          }
  
          ::-moz-placeholder { /* Firefox 19+ */
            color: #CCCCCC;
          }
  
          :-ms-input-placeholder { /* IE 10+ */
            color: #CCCCCC;
          }
  
          :-moz-placeholder { /* Firefox 18- */
            color: #CCCCCC;
          }
        }
  
        button {
          background: none;
          border: none;
  
          position: absolute;
          margin: auto 0;
          cursor: pointer;

          top: 50%;
          right: 18px;
          transform: translate(0, -50%);
        }
      }
    }
  
    #work-experience-results {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 65px 0px;

      .work-experience-project-card {
        margin-bottom: 60px;
      }
    }
  }
}