@import '../../constants/variables.scss';

.nav-menu-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
  &.dark {
    color: $dark;
  }

  &.light {
    color: $white;
  }
  
  &:hover > .nav-menu-container-bar:not(.active) {
    &.left { transform: translate(0%, 0%); }
    &.right { transform: translate(0%, 0%); }
    
    &.light { background: $white; }
    &.dark { background: $dark; }
  }
  
  a {
    position: relative;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-align: right;
    overflow: hidden;

    &:focus {
      outline: none;
    }
    
    &.active::after, &:focus::after {
      @include after(1px);
      transform: translate(0%, 0%);
    }

    &.dark { color: $dark; &::after { background: $dark; } }
    &.light { color: $white; &::after { background: $white; } }

    &::after {
      @include after(1px);
      transform: translate(-100%, 0%);
    }
  }
  
  .nav-menu-container-bar {
    margin: auto 0;
    height: 1px;
    transition: transform 0.3s ease-in-out;
    
    &.left {
      transform: translate(-100%, 0%);

      margin-left: 0px;
      margin-right: 18px;
      flex: 1;
    }
    
    &.right {
      transform: translate(100%, 0%);

      margin-left: 18px;
      margin-right: 0px;
      width: 96px;
    }

    &.active {
      transform: translateX(0);
    }

    &.dark {
      background: $dark;
    }

    &.light {
      background: $white;
    }
  }
}
