@import '../../constants/variables.scss';

.nav-menu-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.dark {
    color: $dark;
  }

  &.light {
    color: $white;
  }

  a {
    font-family: $poppins;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;

    &.active {
      font-weight: 700;
    }

    &.dark {
      color: $dark;
    }

    &.light {
      color: $white;
    }
  }

  .nav-menu-container-bar {
    margin-top: auto;
    margin-bottom: auto;
    height: 1px;

    &.left {
      margin-left: 0px;
      margin-right: 18px;
      flex: 1;
    }

    &.right {
      margin-left: 18px;
      margin-right: 0px;
      width: calc((100vw - #{$main-screen-width}) / 8);
    }

    &.active.dark {
      background: $dark;
    }
  
    &.active.light {
      background: $white;
    }
  }
}