@use "styles/colors.scss" as colors;
@use "styles/fonts.scss" as fonts;

$top-gradient-buffer: 18%;
$gradient-separation: -9%;

.container {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    margin-top: 12em;

    .topGradient {
        width: 100%;
        height: $top-gradient-buffer;

        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 3;

        background: linear-gradient(
            180deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.927083) 13.02%,
            rgba(255, 255, 255, 0) 100%
        );
    }

    .bottomGradient {
        width: 100%;
        height: calc(100% - #{$top-gradient-buffer} - #{$gradient-separation});

        position: absolute;
        left: 0px;
        bottom: 0px;

        background: linear-gradient(
            180deg,
            #171e27 0%,
            rgba(23, 30, 39, 0.87) 14.93%,
            rgba(23, 30, 39, 0.75) 69.12%,
            rgba(23, 30, 39, 0) 100%
        );
        transform: rotate(-180deg);
    }

    .contentContainer {
        position: relative;
        padding: 15em 0px 9em;
    }
}
