@use "styles/colors.scss" as colors;
@use "styles/fonts.scss" as fonts;

.container {
  position: relative;
  width: 100%;
  height: 173vh;

  .topGradient {
    width: 100%;
    height: 27vh;

    position: absolute;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.927083) 13.02%, rgba(255, 255, 255, 0) 100%);
  }

  .bottomGradient {
    width: 100%;
    height: 129vh;

    position: absolute;
    left: 0px;
    bottom: 0px;

    background: linear-gradient(
      180deg,
      #171e27 0%,
      rgba(23, 30, 39, 0.87) 14.93%,
      rgba(23, 30, 39, 0.75) 69.12%,
      rgba(23, 30, 39, 0) 100%
    );
    transform: rotate(-180deg);
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;

    position: absolute;
    left: 50%;
    bottom: 0px;

    transform: translateX(-50%);

    .logo {
      margin: auto 200px auto 0px;
      width: 300px !important;
      height: 300px;

      circle {
        box-shadow: colors.$default-shadow;
      }
    }

    .textContainer {
      margin: auto 0px;

      .buttonContainer {
        display: flex;
        flex-direction: row;

        .button {
          margin-right: 30px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
