@import './constants/variables.scss';

html, body {
  margin: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;

  .padded-section {
    @include responsivePadding();
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  box-sizing: border-box;
}

// Default text stylings

.dark {
  color: $dark;
}

h1, .h1 {
  font-family: $poppins;
  font-size: calc(2vw + 24px);
  font-weight: 700;

  margin-top: 1em;
  margin-bottom: 0.36em;
}

h2, .h2 {
  font-family: $poppins;
  font-size: calc(1.5vw + 18px);
  font-weight: 200;

  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3, .h3 {
  font-family: $poppins;
  font-size: calc(1vw + 18px);
  font-weight: 300;

  margin-top: 1.33em;
  margin-bottom: 0.5em;
}

h4, .h4 {
  font-family: $open-sans;
  font-size: calc(0.7vw + 15px);
  font-weight: 400;

  margin-top: 1.33em;
  margin-bottom: 0.66em;
}

p, .p, li {
  font-family: $open-sans;
  font-size: calc(0.3vw + 15px);
  font-weight: 300;

  margin-top: 0em;
  margin-bottom: 1em;

  line-height: 155%;
}

li {
  padding-left: 6px;
}

ul {
  margin-bottom: 30px;
}
